# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment

.venv/
venv/
env/

# VS Code

.vscode/

# JetBrains

.idea/

# Build

build/
dist/

# Logs

*.log

# Jupyter

.ipynb_checkpoints/

# OS

.DS_Store
Thumbs.db

# Coverage

.coverage
htmlcov/

# Pytest

.pytest_cache/

# Temporary files

*.tmp
*.bak

# Autodesk Temporary Files

*.sv$
*.bak

# Local configuration

.env
